.icon-button {
	cursor: pointer;
}
.icon-button:hover,
.icon-button:focus,
.icon-button:active {
	color: red;
}

.col-padding-left {
	padding-left: 20px;
}
.col-padding-right {
	padding-right: 20px;
}
.col-align-right {
	text-align: right;
}